@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}
body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    background-color: var(--almost-white);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 35px;
    position: relative;
    padding-top: 7px;
}
nav ul li{
    color: var(--medium-gray);
    text-align: center;
    margin-left: 25px;
}
nav ul .reg_login{
    position: relative;
    left: 740px;
}
nav ul #registration{
    border: 2px solid var(--medium-gray);
    width: 105px;
    height: 37px;
    top: -10px;
    padding: 5px;
    padding-top: 6px;
    border-radius: 12px;
}
nav ul li:hover{
    cursor: pointer;
    color: var(--almost-black);
}
.sub_menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    height: auto;
    background-color: white;
    box-shadow: 2px 2px 5px var(--medium-gray);
    border-radius: 12px;
    left: -25px;
    margin-top: 7px;
}
.sub_menu li{
    margin: auto;
    margin-top: 12px;
    width: 105%;
    text-align: justify;
}
.li_features_sub_menu li img{
    display: inline;
}
.li_company_sub_menu{
    left: 0;
}

main{
    display: flex;
    flex-direction: row;
}
section{
    height: 80vh;
    padding-left: 145px;
    padding-right: 70px;
}
section h1{
    font-size: 6.5rem;
    width: 700px;
    margin-top: 155px;
    margin-bottom: auto;
}
section p{
    color: var(--medium-gray);
    font-size: 1.1rem;
    width: 455px;
    margin-top: 55px;
    margin-bottom: auto;
}
section button{
    font-family: 'Epilogue', sans-serif;
    font-size: 0.95rem;
    width: 140px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-top: 70px;
}
section button:hover{
    background-color: white;
    color: black;
    border: 2px solid var(--medium-gray);
    cursor: pointer;
}
section div{
    position: relative;
    margin-top: 60px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    padding-left: 0;
}
section div img{
    position: relative;
    margin: auto;
}

aside{
    width: 770px;
    padding-top: 25px;
}
aside img{
    width: 500px;
}
aside img:last-child, nav img:last-child{
    display: none;
}

@media screen and (max-width: 375px){
    nav ul{
        display: block;
        position: absolute;
        top: -20px;
        width: 72%;
        left: 100px;
        padding: 25px;
        padding-top: 22%;
        height: 98vh;
        z-index: 5;
        background-color: white;
    }
    nav ul li{
        margin: auto;
        text-align: left;
        margin-top: 25px;
    }
    nav ul .reg_login{
        left: 0px;
    }
    nav ul li:nth-child(5){
        text-align: center;
        margin-top: 25px;
    }
    nav ul #registration{
        text-align: center;
        width: 95%;
        margin-top: 25px;
    }
    #hamburger_menu{
        display: block;
        position: relative;
        z-index: 7;
        left: 60%;
    }
    #hamburger_menu:hover{
        cursor: pointer;
    }
    
    .li_features_sub_menu, .li_company_sub_menu
     {
        box-shadow: none;
        position: relative;
        margin: auto;
        width: 90%;
        padding-top: 5px;
        top: 0px;
        left: 0px;
    }
    .li_features_sub_menu li{
        text-align: left;
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }
    .li_features_sub_menu li img{
        display: inline-block;
        position: relative;
    }
    main{
        flex-direction: column-reverse;
    }
    aside, aside img{
        width: 100%;
    }
    aside img:first-child{
        display: none;
    }
    aside img:last-child{
        display: block;
    }
    section{
        padding:0px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section h1{
        font-size: 2.1rem;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    section p{
        font-size: 0.95rem;
        width: 90%;
        line-height: 25px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    section button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    section #logos{
        margin-top: 10px;
        padding: 0;
        width: 100%;
    }
    section #logos img{
        width: 65px;
        margin: auto;
    }
}

